
<%= render 'components/nav' %>
<div class="form-container">

  <div class="form">
  <h2> Curate a movie list </h2>

    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name , required: true, error: 'Please write a name.' %>
      <%= f.input :photo, as: :file, class: "btn btn-light" %>
      <%= f.submit 'Create', class: "btn btn-light" %>
      <% end %>
    </div>
    <div class="images">
   <div class="dark"><%= image_tag('dark3.png')%></div>
    </div>
</div>
