<nav> <%= render 'components/nav' %> </nav>
<h1><%= @list.name %> </h1>



<div class="container-show">
 <div class="show-container">
  <div class="movie-card-container">
    <% @list.movies.each do |movie| %>
      <div class="movie-card p-3 rounded-bottom d-flex flex-column">
      <i class="far fa-window-close"></i>

        <h4><%= movie.title %></h4>
        <p> Rating: ⭐ <%= movie.rating %> </p>
        <%= image_tag movie.poster_url %>
        <% movie.bookmarks.each do |bookmark| %>
          <p class="comment"> <i class="fas fa-quote-left"></i>&nbsp;<%=  bookmark.comment %>&nbsp;<i class="fas fa-quote-right"></i></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>





<div class="bookmark">
  <h2>Create a bookmark </h2>
    <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie, input_html: { class: 'select2' } %>
    <%= f.submit %>
    <% end %>

</div>


</div>
