<nav> <%= render 'components/nav' %> </nav>
<h1><%= @list.name %> </h1>



<div class="container-show">
 <div class="show-container">
  <div class="movie-card-container">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="movie-card p-3 rounded-bottom d-flex flex-column">
      <%= link_to 'Delete', bookmark_path(bookmark), method: :delete, data: {confirm: " Are you sure you want to delete ?"} %>
      <i class="far fa-window-close"></i>
        <h4><%= bookmark.movie.title %></h4>
        <p> Rating: ⭐ <%= bookmark.movie.rating %> </p>
        <%= image_tag bookmark.movie.poster_url %>
          <p class="comment"> <i class="fas fa-quote-left"></i>&nbsp;<%=  bookmark.comment %>&nbsp;<i class="fas fa-quote-right"></i></p>
      </div>
    <% end %>
  </div>
</div>





<div class="bookmark">
  <h2>Create a bookmark </h2>
    <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie, input_html: { class: 'select2' } %>
    <%= f.submit %>
    <% end %>

</div>


</div>
