<div class="banner-container">
<nav>
<div class="container">
<%= link_to(lists_path) do %>
     <h2>watch&nbsp;&nbsp;&nbsp;&nbsp;list</h2> <div class="rotate"><%= image_tag('smile_2.svg')%></div>
     <div class="menu">
<% end %>
      <div class="buttons">
       <button><%= link_to "Movie lists", lists_path(anchor: "list-path") %></button>
        <button><%= link_to "Add a list", new_list_path%></button>
      </div>

      </div>
    </div>

     <div class="banner">


    <h1> Curate movie lists & <br> get movie suggestions </h1>

 <%# <div class="sticker"><%= image_tag('sticker.svg')%>

  </div>

      <%# <button class = "hamburger">
        <span class = "is-active"></span>
        <span></span>
        <span></span>
      </button> %>
</div>
</nav>


</div>
