 <nav>
  <div class="container">
<%= link_to(lists_path) do %>
     <h2>watch&nbsp;&nbsp;&nbsp;&nbsp;list</h2> <div class="rotate"><%= image_tag('smile_2.svg')%></div>
     <div class="menu">
      <% end %>
      <div class="buttons">
        <%= link_to(lists_path, anchor: "list-path") do %>
        <button>Movie lists</button>
        <%end%>
        <%=  link_to(new_list_path) do %>
        <button>Add a list</button>
        <%end%>
      </div>
    </div>


     <%# <h2>watch&nbsp;&nbsp;&nbsp;&nbsp;list</h2> <div class="rotate"><%= image_tag('smile_2.svg')%> </div>

 </div>
</nav>
